// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT
//
// NOTE: Timeless Homerow Mod implementation, timings, and the use of
// zmk-helpers/key-labels/34.h are based on or derived from the work
// of urob found at https://github.com/urob/zmk-config and
// https://github.com/urob/zmk-helpers.
//

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/key-labels/34.h"
#include "zmk-helpers/helper.h"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

// --- Timeless Homerow Mods Configuration ---

// Define key positions using labels from 34.h
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH1 LH0 RH0 RH1 // Uses labels defined in 34.h

/* Left-hand HRMs. */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* Right-hand HRMs. */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// --- End Timeless Homerow Mods Configuration --- 


/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
        = <&pro_micro  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 7      (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&pro_micro  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        ;
    };

    behaviors {
        dqt_with_space: macro_0 { // Node name: dqs_macro
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp SPACE>; // Action: Press ", press space
        };
        apos_with_space: macro_1 { // Node name: dqs_macro
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp APOS &kp SPACE>; // Action: Press ", press space
        };
    };

    key_positions {
        compatible = "zmk,key-positions";
        positions = <
            LT4 LT3 LT2 LT1 LT0      RT0 RT1 RT2 RT3 RT4
            LM4 LM3 LM2 LM1 LM0      RM0 RM1 RM2 RM3 RM4
            LB4 LB3 LB2 LB1 LB0      RB0 RB1 RB2 RB3 RB4
                        LH1 LH0      RH0 RH1
        >;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │     │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T            &kp Y      &kp U     &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │     │  H       │  J       │  K       │  L       │ ' "      │
         &hml LSHFT A &hml LALT S &hml LCTRL D &hml LGUI F   &kp G     &kp H      &hmr RGUI J &hmr RCTRL K &hmr RALT L &hmr RSHFT SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │     │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp TAB    &lt 2 ENTER      &lt 1 SPACE &kp BSPC
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │  %       │     │  ^       │  &       │  *       │  _       │  =       │
            &kp EXCL  &kp AT     &kp POUND  &kp DLLR   &kp PRCNT        &kp CARET  &kp AMPS   &kp STAR   &kp UNDER  &kp EQUAL
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  -       │   +      │  €       │  "       │  '       │     │  \       │      {   │  }       │  ;       │  :       │
&hml LSHFT MINUS &hml LALT PLUS &hml LCTRL RA(N5) &hml LGUI DQT &apos_with_space   &kp BSLH &hmr RGUI LBRC &hmr RCTRL RBRC &hmr RALT SEMI &hmr RSHFT COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  ~       │  |       │  <       │  >       │  `       │     │  /       │  (       │  )       │  [       │  ]       │
           &kp TILDE  &kp PIPE2  &kp LT     &kp GT     &kp GRAVE        &kp FSLH   &kp LPAR   &kp RPAR   &kp LBKT   &kp RBKT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │  ESCAPE  │     │          │          │
                                            &trans     &kp ESC          &trans     &trans
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮     ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│PRINT SCRN│  7       │   8      │   9      │  000000  │     │          │          │ PREV     │ PLAY     │ NEXT     │
           &kp PSCRN  &kp N7     &kp N8     &kp N9     &trans           &trans     &trans &kp C_PREV   &kp C_PP  &kp C_NEXT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│CAPS LOCK │  4       │   5      │   6      │  000     │     │          │ LEFT     │ DOWN     │ UP       │ RIGHT    │
    &hml LSHFT CAPS &hml LALT N4 &hml LCTRL N5 &hml LGUI N6  &trans     &trans &hmr RGUI LEFT &hmr RCTRL DOWN &hmr RALT UP &hmr RSHFT RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  INSERT  │  1       │  2       │   3      │  0       │     │CONTE MENU│ HOME     │ PAGE DN  │ PAGE UP  │ END      │
           &kp INS    &kp N1     &kp N2     &kp N3     &kp N0           &kp K_CMENU &kp HOME   &kp PG_DN &kp PG_UP  &kp END 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤     ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │     │          │  DELETE  │
                                             &trans     &trans          &trans     &kp DEL
        //                                 ╰──────────┴──────────╯     ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F9      │  F10     │  F11     │  F12     │RIGHT CLK │   │ BRIGHT - │ BRIGHT + │ MUTED    │ VOL DOWN │ VOL UP   │
           &kp F9     &kp F10    &kp F11    &kp F12    &mkp RCLK     &kp C_BRI_DN &kp C_BRI_UP &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F5      │  F6      │  F7      │   F8     │LEFT CLK  │   │ CLS WIND │MOUS LEFT │MOUS DOWN │ MOUS UP  │MOUS RIGHT│
  &hml LSHFT F5 &hml LALT F6 &hml LCTRL F7 &hml LGUI F8 &mkp LCLK    &kp LC(F4) &hmr RGUI MOVE_LEFT &hmr RCTRL MOVE_DOWN &hmr RALT MOVE_UP &hmr RSHFT MOVE_RIGHT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F1      │  F2      │  F3      │  F4      │MIDDLE CLK│   | CLS TAB  │SCRL LEFT │SCRL DOWN │ SCRL UP  │SCRL RIGHT│
           &kp F1     &kp F2     &kp F3     &kp F4     &mkp MCLK     &kp LA(F4) &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │BOOTLOADER│          │   │          │BOOTLOADER│
                                           &bootloader &trans        &trans     &bootloader
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
